.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 16px;
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
  font-size: 24px;
}

.footer {
  padding: 16px;
  border-top: 1px solid gainsboro;
  text-align: center;
  color: gray;
}

.stand {
  padding: 16px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 12px;
}

.cart {
  position: sticky;
  bottom: 0;
  margin: auto;
  padding-bottom: 16px;

  button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
